@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <title>Content</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.min.css">
</head>
<body class="body">
    <div class="header">
        <div class="logo_header">
            <div class="logo">
                <img src="/images/logo.webp" alt="logo">
            </div>
            <div class="banner">
                <img src="/images/banner.jpg" alt="banner">
            </div>
        </div>
        <div class="menu">
            <nav>
                <ul class="menu-navbar">
                    <li class="active"><a href="#">NEWS</a></li>
                    <li class=""><a href="#">FASHION</a></li>
                    <li class=""><a href="#">GADGETS</a></li>
                    <li class=""><a href="#">LIFESTYLE</a></li>
                    <li class=""><a href="#">VIDEO</a></li>
                    <li class=""><a href="#">FEATURES</a></li>
                    <li class=""><a href="/Users/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="content">
        @*<div class="left_content col-md-8"*@
        @*<div class="title_post">
                WordPress News Magazine Charts the Most Chic and Fashionable Women of New York City
            </div>
            <div class="author">
                <a href="#" style="color: #000">
                    <img src="~/images/about-image-150x150.jpg" alt="avt" class="author-avt mr-2">
                    By <strong>Armin Vans</strong> August 7, 2019
                </a>
            </div>
            <div class="social d-flex">
                <div class="btn btn-fb">
                    <i class="fab fa-facebook-f"></i>
                    <span class="separate"></span>
                    <span class="social-text">Facebook</span>
                </div>
                <div class="btn btn-twitter">
                    <i class="fab fa-twitter"></i>
                    <span class="separate"></span>
                    <span class="social-text">Twitter</span>
                </div>
                <div class="btn btn-pinterest">
                    <i class="fab fa-pinterest-p"></i>
                    <span class="separate"></span>
                    <span class="social-text">Pinterest</span>
                </div>
            </div>
            <div class="main">
                @RenderBody()
                <div class="representImg">
                        <img src="assets/images/h104-696x464.jpg" alt="representImage" style="width:100%">
                    </div>
                    <div class="decription">
                        <p class="text-description">
                            We woke reasonably late following the feast and free flowing wine the night before.
                            After gathering ourselves and our packs, we headed down to our homestay family’s small dining room for breakfast.
                        </p>
                    </div>
            </div>*@

        @*</div>*@
        @RenderBody()
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>