<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fashion Blog a Blogging Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />-->
<!-- fontawesome -->
<!--<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />--><!-- Bootstrap stylesheet-->
<!--<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" property="" />-->
<!-- stylesheet -->
<!-- meta tags -->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>-->
<!-- //meta tags -->
<!--fonts-->
<!--//fonts-->
<!--<script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
<script src="~/js/main.js"></script>-->
<!-- Required-js -->
<!-- main slider-banner -->
<!--<script src="~/js/skdslider.min.js"></script>
<link href="~/css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });
        jQuery('#responsive').change(function () {
            $('#responsive_wrapper').width(jQuery(this).val());
        });
    });
</script>-->
<!-- //main slider-banner -->
<!-- start-smoth-scrolling -->
<!--<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>-->
<!-- start-smoth-scrolling -->
<!-- scriptfor smooth drop down-nav -->
<!--<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>-->
<!-- //script for smooth drop down-nav -->
<!--</head>
<body>-->
<!-- header -->
<!--<header>
    <div class="w3layouts-top-strip">
        <div class="container" style="display: flex; justify-content: space-around; align-items:center;">
            <div class="logo" style="margin:0;">
                <h1><a href="index.html">Manage App</a></h1>
            </div>
            <div class="w3ls-social-icons">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                <a class="linkedin" href="#"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>-->
<!-- navigation -->
<!--<nav class="navbar navbar-default">
    <div class="container">-->
<!-- Brand and toggle get grouped for better mobile display -->
<!--<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>-->
<!-- Collect the nav links, forms, and other content for toggling -->
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" style="width: 100%; background:#fff;">
        <li><a class="active" asp-controller="Posts" asp-action="Index">Home</a></li>
        <li><a asp-controller="Users" asp-action="Login">Login</a></li>
    </ul>
</div>-->
<!-- /.navbar-collapse -->
<!--<div class="w3_agile_login">
    <div class="cd-main-header">
        <a class="cd-search-trigger" href="#cd-search"> <span></span></a>-->
<!-- cd-header-buttons -->
<!--</div>
    </div>
    <div class="clearfix"> </div>

</div>-->
<!-- /.container-fluid -->
<!--</nav>-->
<!-- //navigation -->
<!--</header>-->
<!-- //header -->
<!-- top-header and slider -->
<!--<div class="w3-slider">-->
<!-- main-slider -->
<!--<ul id="demo1">
    <li style="list-style-type: none">
        <img src="images/1.jpg" alt="" />-->
<!--Slider Description example-->
<!--</li>
        <li style="list-style-type: none">
            <img src="images/2.jpg" alt="" />

        </li>
        <li style="list-style-type: none">
            <img src="images/3.jpg" alt="" />

        </li>

    </ul>
</div>-->
<!-- //main-slider -->
<!-- //top-header and slider -->
<!--<div class="container">
</div>-->
<!-- footer -->
<!-- copyright -->
<!--<div class="copyright" style=" margin-top: 30px; ">
    <div class="container">
        <div class="agileinfo" style="text-align:center;">
            <p>© 2017 Fashion Blog . All Rights Reserved . Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>-->
<!-- //copyright -->
<!-- here stars scrolling icon -->
<!--<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>-->
<!-- //here ends scrolling icon -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="~/js/bootstrap.js"></script>
</body>
</html>-->
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <title>Content</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/all.min.css">
</head>
<body>
    <div class="header">
        <div class="logo_header d-flex align-items-center">
            <div class="col-md-4 logo">
                <img src="~/images/logo.webp" alt="logo" style="width:100%; height: 100%;">
            </div>
            <div class="col-md-8 banner">
                <img src="~/images/banner.jpg" alt="banner">
            </div>
        </div>
        <br>
        <div class="menu row col-md-12 d-flex justify-content-between px-0">
            <div class="menu-bar row d-flex ml-5 " style="width:100%">
                <ul class="test col-md-10 d-flex">
                    <li class="menu-bar-items mr-4">NEWS</li>
                    <li class="menu-bar-items mr-4">FASHION</li>
                    <li class="menu-bar-items mr-4">GADGETS</li>
                    <li class="menu-bar-items mr-4">LIFESTYLE</li>
                    <li class="menu-bar-items mr-4">VIDEO</li>
                    <li class="menu-bar-items ">FEATURES</li>
                </ul>
                <div class="col-md-2">
                    <a href="/Users/Login" class="align-items-end"><i class="far fa-user"></i></a>
                </div>
            </div>
        </div>
        <div class="content col">
            @*<div class="left_content col-md-8"*@
            @*<div class="title_post">
            WordPress News Magazine Charts the Most Chic and Fashionable Women of New York City
        </div>
        <div class="author">
            <a href="#" style="color: #000">
                <img src="~/images/about-image-150x150.jpg" alt="avt" class="author-avt mr-2">
                By <strong>Armin Vans</strong> August 7, 2019
            </a>
        </div>
        <div class="social d-flex">
            <div class="btn btn-fb">
                <i class="fab fa-facebook-f"></i>
                <span class="separate"></span>
                <span class="social-text">Facebook</span>
            </div>
            <div class="btn btn-twitter">
                <i class="fab fa-twitter"></i>
                <span class="separate"></span>
                <span class="social-text">Twitter</span>
            </div>
            <div class="btn btn-pinterest">
                <i class="fab fa-pinterest-p"></i>
                <span class="separate"></span>
                <span class="social-text">Pinterest</span>
            </div>
        </div>
        <div class="main">
            @RenderBody()
            <div class="representImg">
                    <img src="assets/images/h104-696x464.jpg" alt="representImage" style="width:100%">
                </div>
                <div class="decription">
                    <p class="text-description">
                        We woke reasonably late following the feast and free flowing wine the night before.
                        After gathering ourselves and our packs, we headed down to our homestay family’s small dining room for breakfast.
                    </p>
                </div>
        </div>*@

            @*</div>*@
            @RenderBody()
        </div>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>