@model ManagementApp.Models.Posts

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/User/Views/_LayoutUser.cshtml";
}

<h1>Create</h1>
<hr />
@if (@TempData["Message"]!=null)
    {
<div class="alert alert-danger">@TempData["Message"]</div>
    }
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="content" class="control-label"></label>
                <textarea asp-for="content" id="textareaContent" class="form-control"></textarea>
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" required="required" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" required="required" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isAccept" /> @Html.DisplayNameFor(model => model.isAccept)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" required="required" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="submit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="index" class="btn btn-outline-secondary">Back to List</a>
</div>
<script src="~/lib/jquery.min.js"></script>
<script src="~/lib/ckeditor/ckeditor.js" type="text/javascript"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {
        CKEDITOR.config.width = 750,
        CKEDITOR.replace('textareaContent',
            {
                height: 400,
                filebrowserUploadUrl: "/product/upload_ckeditor",
                filebrowserBrowseUrl: "/product/filebrowse"
            });
    })
</script>