html{
    padding: 0 220px;
}

.left_content{
    max-width: 696px;
}

.header{
    height: 175px;
}

.logo_header{
    max-height: 90px;
}

.logo{
    max-width: 272px;
}

.banner{
    max-width: 728px;
}

.menu-bar-items{
    list-style-type: none;
    font-weight: 700;
}

.title_post{
    margin-top: 10px;
    text-align: left;
    font-size: 38px;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.author{
    font-size: 11px;
}

.author-avt{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 30px;
}

/* Social */
.social{
    color: #fff;
    max-height:40px;
    align-items: center;
    border-radius: 20%;
    margin-top: 10px;
}

.btn-fb{
    background-color: #516eab;
}

.btn-twitter{
    background-color: #29c5f6;
}

.btn-pinterest{
    background-color: #ca212a;
}

.separate{
    border-right: 1px solid #777;
    height: 1px;
    margin: 0 5px;
}

.btn{
    color: #fff;
    margin-right: 5px;
}

/* main */

.main{
    margin: 25px 0;
}

.representImg{
    margin-bottom: 30px;
}

.description {
    max-width: 600px;
}

.text-description{
    margin: 0px 48px 26px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.advertisement{
    margin-bottom: 25px;
}

.title_most_popular{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 26px;
    border-bottom: 2px solid #222;
    max-width: 300px;
}

.text_popular{
    line-height: 17px;
    padding: 7px 12px 4px;
    background-color: #222;
    color: #fff;
}

.content_popular {
    height: 100%;
}

.component_popular{
    padding: 0px 35px 0px 0px;
    max-height: 68px;
    margin-bottom: 20px;
}

.title_popular a{
    font-size: 14px;
    color: #000;    
}

.img_popular img{
    background-position: center 50%;
    width: 97px;
    height: 68px;
    background-size: cover;
    cursor: pointer;
}

.img_popular:hover{
    text-decoration: none;
}