body{
    font-size: 95%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    text-align: left;
}


.container{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-fixed-top{
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    
}

.nav_bar{
    background-color: #fff;
}

.menu_nav a{
    color: #000;
    box-sizing: border-box;
    height: auto;
}

.menu_nav a:hover{
    text-decoration: none;
}

.right_header .menu_nav{
    display: flex;
}

.right_header .menu_nav .nav_item{
   list-style-type: none;

}

.right_header .menu_nav li{
    height: auto;
}

.right_header .menu_nav a{
    padding: 15px;
}

.image_logo{
    width: auto;
    height: 90px;
}

.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner, .carousel .item, .carousel img {
    height: 100%!important;
}

.carousel-tbox{
    font-size: 20px;
    position: absolute;
    left: 130px;
    top: 35%;
    color: #fff;
    background: rgba(37,46,89,.5);
    padding: 10px 40px;
}

.banner{
    height: 500px;
    width: 100%;
    margin-top: 90px;

}

.box1 h2::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 4px;
    background-color: #c1b086;
}

.btn-read{
    background: #c1b086;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 15px;
    display: inline-block;
    overflow: hidden;
}

.image_intro{
    width:100%;
    height:auto;
}

@media(min-width: 768px){
    
}
