@*@{
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_LayoutPost.cshtml";

    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@model IEnumerable<ManagementApp.Models.Posts>

@{
    ViewData["Title"] = "IndexPost";
    Layout = "~/Views/Shared/_LayoutPost.cshtml";
}

<p>
    <a asp-controller="Posts" asp-action="Create" class="btn btn-primary">Create Post</a>
</p>
<p>
    @foreach (var item in Model)
    {
            
        <div class="col-md-4 d-flex">
            <div class="imgRepresent"><img src="@Html.Raw("~/image/" + item.ImageName)" asp-append-version="true" width="250px" height="250px" /></div>
            <div class="info">
                <div class="title">
                    <a href="#"><strong style="font-size: 2em; color: #000">@Html.DisplayFor(modelItem => item.title)</strong></a>
                </div>
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <br />
            <br />
        </div>
    }
</p>