
@model cloudscribe.Pagination.Models.PagedResult<Posts>

@*@model IEnumerable<ManagementApp.Models.Posts>*@

@{
    ViewData["Title"] = "IndexPost";
    Layout = "~/Views/Shared/_LayoutPost.cshtml";
}


<div class="item-page ">
    <div class="list-item">
            @foreach (var item in Model.Data)
                {
                <div class="col-md-4 d-flex flex-column">
                    <div class="imgRepresent"><img src="@Html.Raw("/image/" + item.imageUrl)" asp-append-version="true" width="250" height="250" /></div>
                    <div class="info">
                        <div class="title">
                            <a asp-controller="Posts" asp-action="Details" asp-route-id="@item.id"><strong>@Html.DisplayFor(modelItem => item.title)</strong></a>
                        </div>
                        @Html.DisplayFor(modelItem => item.description)
                    </div>
                </div>
                }
    </div>
    <div style="display:flex;justify-content:center">
        <cs-pager cs-paging-pagenumber=(int)Model.PageNumber
                  cs-paging-totalitems=(int)Model.TotalItems
                  cs-paging-pagesize="1"
                  cs-pagenumber-param="pagenumber"
                  asp-controller=""
                  asp-action="IndexPost"
                  cs-pager-li-current-class="page-item-active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item-disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link"></cs-pager>
    </div>
</div>
