@model IEnumerable<ManagementApp.Models.Posts>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center">Index</h1>

<p>
    <a asp-action="Create">Create Post</a>
</p>
<p>
    @foreach (var item in Model)
    {
                <strong style="font-size: 2rem">@Html.DisplayFor(modelItem => item.title)</strong>
                @Html.Raw(item.content)
                <br />
                <br />
    }
</p>
