@model IEnumerable<ManagementApp.Models.Posts>

@{
    ViewData["Title"] = "IndexUser";
    Layout = "~/Views/Shared/_LayoutPost.cshtml";
}

<h1 style="text-align: center">Index</h1>

<a asp-action="Create" class="btn btn-primary">Create Post</a>
<p>
    @foreach (var item in Model)
        {
        <a href="#"><strong style="font-size: 2em">@Html.DisplayFor(modelItem => item.title)</strong></a>
        @Html.Raw(item.content)
        <img src="@("~/ImageAvt/" + item.ImageName)" asp-append-version="true" width="250px" height="250px" />
        <br />
        <br />
        }
</p>